body.login div#login h1 a {
    background-image: url("../images/logo.png");
    background-size: 120px;
    height: 90px;
    width: 120px;
}
.wp-core-ui .button-primary {
	-webkit-box-shadow: inset 0 1px 0 rgba(250,146,207,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(250,146,207,.5),0 1px 0 rgba(0,0,0,.15);
	background: #EC008B;
	background: rgb(236,0,139);
	background-color: #EC008B;
	background-color: rgb(236,0,139);
	border-color: #EC008B;
	border-color: rgb(236,0,139);
	
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(250,146,207,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(250,146,207,.5),0 1px 0 rgba(0,0,0,.15);
	background: #FA92CF;
	background: rgb(250,146,207);
	border-color: #FA92CF;
	border-color: rgb(250,146,207);
}